/target
Cargo.lock

screenshot.png

spaceshipment_editor*.zip
/spaceshipment_editor_linux
spaceshipment_editor_win/levels/*
spaceshipment_editor_win/spaceshipment_editor*
spaceshipment_editor_win/README.md
